line-bot-sdk==3.5.0
fastapi
uvicorn[standard]
langchain==0.0.308
openai==0.28.1
yfinance
pydantic
tiktoken
flask==2.2.5
lxml==4.9.1
matplotlib
gspread==5.7.2
oauth2client==4.1.3
mpl_finance
arrow
python-dotenv==0.21.0